* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5ecff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.card {
  margin-top: 40px;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
}

.image-wrapper {
  margin-bottom: 16px;
}

.image-wrapper img {
  width: 300px;
  height: 320px;
  border-radius: 12px;
  object-fit: cover;
}

.slack-name {
  font-size: 24px;
  font-weight: 800;
}

.bio {
  margin-top: 14px;
  max-width: 300px;
}

.date-and-time {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* Mobile Responsiveness */
@media screen and (max-width: 640px) {
  .image-wrapper img {
    width: 270px;
  }

  .bio {
    max-width: 270px;
  }
}
